.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
  }
  
  .login-box {
    width: 320px;
    background: white;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    text-align: center;
  }
  
  .login-logo {
    display: block;        /* WAJIB */
    margin: 0 auto 20px;   /* center horizontal */
    width: 90px;
  }
  
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .login-box input:focus {
    border-color: #4f46e5;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #4f46e5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .login-box button:hover {
    background: #4338ca;
  }
  